
<header>
    <nav>
        <ul>
            <li><a href="http://localhost:3003/users/logout">Logout</a></li>
            <li><a href="http://localhost:3003/users">Main Page</a></li>       
        </ul>
    </nav>
</header>