<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>

        <title>Create New Patient</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
      <form action="http://localhost:3003/create_new_patient" method="post">
        <input type="text" name="firstname" required/><br>
        <input type="text" name="lastname" required/><br>
        <input type="text" name="address"/><br>
        <input type="text" name="phone" /><br>
        <input type="text" name="email" /><br>
        <input type="text" name="SSN" required/><br>
        <input type="text" name="insurance" /><br>
        <input type="text" name="onFilePaymentInfo" /><br>
        <input type="text" name="doctor" required/><br>
        <input type="text" name="medicalNotes" /><br>

        <% doctors.forEach(function (ans) { %>
            <input type="select"  name="doctor" id="doctors" value= <%=ans.doctorId%>> <%=ans.name%></br>
        <% }); %>

        <button type="submit">Submit</button>


    </body>
</html>
