<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="/public/styles.css" rel="stylesheet" type="text/css">

        <title>Logout Page</title>

    </head>
    <body>

        <div>
            <h3>Welcome to the Logout Page.</h3>
        </div>

    </body>
</html>