<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>

        <title>Main Page</title>

    </head>
    <body>

        <% include ./resources/navHeader.ejs %>

        <div>
            <h3>Welcome to the Main Page.</h3>
        </div>

        <div>
          <a href="http://localhost:3003/dailyreports/date">
            <button type="button">View Daily Report</button>
          </a>

          <a href="http://localhost:3003/monthlyreports/date">
            <button type="button">View Monthly Report</button>
          </a>

          <a href="http://localhost:3003/create_new_patient">
            <button type="button">Create New Patient</button>
          </a>

          <a href="http://localhost:3003/select_doctor">
            <button type="button">Select Doctor</button>
          </a>

          <a href="http://localhost:3003/uncleared_appointments">
            <button type="button">Uncleared Appointments</button>
          </a>

        </div>

        <% if(typeof permissionError === 'undefined'){ %>
            <p id="PermissionErrorBoard"></p>
        <% }else { %>
            <p id="PermissionErrorBoard"> <%=permissionError%> </p>
        <% } %>

    </body>
</html>
