<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>

        <title>Main Page</title>

    </head>
    <body>

        <% include ./resources/navHeader.ejs %>

        <div>
            <h3>Welcome to the Main Page.</h3>
        </div>

        <div>
          <a href="http://localhost:3003/dailyreports/date">
            <button type="button">View Daily Report</button>
          </a>

          <a href="http://localhost:3003/monthlyreports/date">
            <button type="button">View Monthly Report</button>
          </a>
        </div>

    </body>
</html>
