<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HealthCare Online Payment Receipt</title>

    </head>
    <body>
        <div>
            <h3>Thank you! Here is your receipt:<h3>
        </div>

        <!--Time Stamp-->
        Invoice: <%= _id %>
        <br>
        <!--Credit Card Reference Number-->
        <br>
        Client Name: <%= firstname %> <%= lastname %>
        <br>
        Amount Paid: <%= billingAmount %>
        <br>


    </body>
</html>
