<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">

        <title>Select Patient</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form action="http://localhost:3003/view_schedule" method="post">
          <% patients.forEach(function (ans) { %>
            <li>
              <input type="radio"  name="patients" id="patients" value= <%=ans.SSN%>> <%=ans.name%></br>
            </li>
          <% }); %>

        <br>
          <button type="submit">Make New Appointment</button><br>
          <button type="submit" formaction="http://localhost:3003/view_patient">View Patient Record</button>
          <button type="submit" formaction="http://localhost:3003/select_appointment_treatment_record">Select Appointment/Treatment record</button>



        <br>
            <button type="button">Submit</button>
        </form>
        <br/>
    <script>

    </script>

    </body>
</html>
