<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">

        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form action=<%=goTo%> method="post">

          <% unclearedAppointments.forEach(function (ans) { %>
              <input type="radio"  name="records" id="records" value= <%=ans.date%>> <%=ans.firstname + " " + ans.lastname + " " + ans.date%></br>
          <% }); %>

            <button type="submit">Submit</button>
        </form>
        <br/>
    <script>

    </script>

    </body>
</html>
