<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">

        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>

        Scheduled Appointments:

        <%for(var i = 0; i < appointments.length; i++) {%>
          <ul>
            <li><%=appointments[i].date%></li>
          </ul>
        <%}%>

        <form action="http://localhost:3003/view_schedule/add_appointment" method="post">
          Select Appointment Date: <input type="date" name="appointmentTime" required><br/>
          <button type="submit">Schedule</button>
        </form>

    </body>
</html>
