<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>

        <title>View Daily Report</title>

    </head>
    <body>

        <% include ./resources/navHeader.ejs %>

        <div>
            <h3>Daily Report</h3>
            <form action="http://localhost:3003/monthlyreports/getReport" method="post">
              Record Date: <input type="month" name="rdate" required>
              <input type="submit">
            </form>
        </div>


        <script>
        </script>

    </body>
</html>
